include AUTHORS
include CHANGELOG
include COPYING
include README
include MANIFEST.in
include setup.py
recursive-include src *.py *.pyx *.pxd *.c *.i *.h
recursive-include examples *.py
include stdeb.cfg
